<ng-container *ngIf="visible">
  <app-contact-list
    [contacts]="contacts"
    (removeContact)="deletedContact($event)"
    (editContact)="editedContact($event)"
    (selectContact)="selectedContact($event)"
  ></app-contact-list>
  <button
    mat-raised-button
    color="primary"
    class="example-full-width"
    (click)="toggleModal()"
  >
    Nuovo contatto
  </button>
</ng-container>
<ng-container *ngIf="!visible">
  <button
    mat-stroked-button
    class="example-full-width"
    (click)="toggleModal()"
  >
    Back
  </button>
  <br><br>
  <app-contact-form
    (saveContact)="saveHandler($event)"
    [initialContact]="activeContact"
  ></app-contact-form>
</ng-container>

