<mat-list>
  <div>
    <mat-form-field style="width: 100%" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput ngModel #currentTextSearch type="text" />
      <mat-icon
        *ngIf="currentTextSearch.value"
        matSuffix
        (click)="currentTextSearch.value = ''"
        >close</mat-icon
      >
    </mat-form-field>
  </div>
  <div mat-subheader>Contacts</div>
  <mat-list-item *ngFor="let contact of contacts | filter: currentTextSearch.value">
    <mat-icon matListItemIcon>account_circle</mat-icon>
    <div matListItemTitle>{{ contact.name }} {{ contact.surname }}</div>
    <div matListItemLine>{{ contact.iban }}</div>
    <div matListItemMeta>
      <mat-icon
        matListItemIcon
        matTooltip="select"
        (click)="this.selectContact.emit(contact._id)"
        >done</mat-icon
      >
      <mat-icon
        matListItemIcon
        matTooltip="edit"
        (click)="this.editContact.emit(contact._id)"
        >edit</mat-icon
      >
      <mat-icon
        matListItemIcon
        matTooltip="remove"
        (click)="this.removeContact.emit(contact._id)"
        >delete</mat-icon
      >
    </div>
  </mat-list-item>
</mat-list>
