<form #contact="ngForm" (ngSubmit)="onSave(contact)">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <mat-icon color="primary" matPrefix class="icon"> person </mat-icon>
    <input
      matInput
      [ngModel]="initialContact?.name"
      name="name"
      type="text"
      #emailRef="ngModel"
      required
    />
    <mat-error *ngIf="emailRef.errors?.['required']">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <mat-icon color="primary" matPrefix class="icon"> person </mat-icon>
    <input
      matInput
      [ngModel]="initialContact?.surname"
      name="surname"
      type="text"
      #surnameRef="ngModel"
      required
    />
    <mat-error *ngIf="surnameRef.errors?.['required']">
      Surname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>IBAN</mat-label>
    <mat-icon color="primary" matPrefix class="icon"> text_format </mat-icon>
    <input
      matInput
      [ngModel]="initialContact?.iban"
      name="iban"
      type="text"
      #ibanRef="ngModel"
      required
    />
    <mat-error *ngIf="ibanRef.errors?.['required']">
      Iban is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="contact.invalid"
  >
    Save
  </button>
</form>
