/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 5px 5px 0 0;
  padding: 100px 25px 50px;
}

.mat-mdc-form-field {
  margin-bottom: 15px;
}

.mat-mdc-raised-button {
  border-radius: 0 0 5px 5px;
  width: 100%;
}

.mat-mdc-outlined-button {
  margin-top: 15px;
}

.mat-icon {
  cursor: pointer;
}

